<section class="advantages">
  <div class="container advantages-container">
    <h3 class="advantages-subtitle">Переваги</h3>
    <h1 class="advantages-title">Чому обрати нас?</h1>
    <p class="advantages-text">Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують стійкість і довговічність. Обираючи EcoTote, ви
    підтримуєте екологічну відповідальність.</p>

<ul class="advantages-list">
  <li class="advantages-list-item">

    <picture>
      <source srcset="" media="(min-width: 1280px)">
      <source srcset="" media="(min-width: 768px)">
      <source srcset="" media="(max-width: 767px)">
      <img src="" width="" alt="">
    </picture>
    
    <div class="advantages-item-wrapper">
      <h2 class="advantages-title-item">Стійкість та екологічність</h2>
      <p class="advantages-item-text">Виготовлені з органічної бавовни та переробленого пластику.</p>
    </div>
  </li>

  <li class="advantages-list-item">

    <picture>
      <source srcset="" media="(min-width: 1280px)">
      <source srcset="" media="(min-width: 768px)">
      <source srcset="" media="(max-width: 767px)">
      <img src="" width="" alt="">
    </picture>

    <div class="advantages-item-wrapper">
      <h2 class="advantages-title-item">Міцність і довговічність</h2>
      <p class="advantages-item-text">Наші сумки мають посилені шви для тривалого використання.</p>
    </div>
  </li>

  <li class="advantages-list-item">

        <picture>
          <source srcset="" media="(min-width: 1280px)">
          <source srcset="" media="(min-width: 768px)">
          <source srcset="" media="(max-width: 767px)">
          <img src="" width="" alt="">
        </picture>

    <div class="advantages-item-wrapper">
    <h2 class="advantages-title-item">Стильний та сучасний дизайн</h2>
    <p class="advantages-item-text">Мінімалістичні моделі в обмежених серіях для кожного стилю.</p>
  </li>
</div>
</ul>
  </div>
</section>
