<section class="advantages" id="advantages">
  <div class="container advantages-container">
    <h3 class="advantages-subtitle">Переваги</h3>
    <h2 class="advantages-title">Чому обрати нас?</h2>
    <p class="advantages-text">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>

    <ul class="advantages-list">
      <li class="advantages-list-item">
        <!--Pictures-->
        <picture>
          <source
            srcset="
              /img/advantages/advantages-desk-1-1x.jpg 1x,
              /img/advantages/advantages-desk-1-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/advantages/advantages-tab-1-1x.jpg 1x,
              /img/advantages/advantages-tab-1-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/advantages/advantages-mob-1-1x.jpg 1x,
              /img/advantages/advantages-mob-1-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="advantages-pic"
            src="/img/advantages/advantages-mob-1-1x.jpg"
            alt="eco-friendly cotton materials"
          />
        </picture>
        <h3 class="advantages-title-item">Стійкість та екологічність</h3>
        <p class="advantages-item-text">
          Виготовлені з органічної бавовни та переробленого пластику.
        </p>
      </li>
      <li class="advantages-list-item">
        <picture>
          <source
            srcset="
              /img/advantages/advantages-desk-2-1x.jpg 1x,
              /img/advantages/advantages-desk-2-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/advantages/advantages-tab-2-1x.jpg 1x,
              /img/advantages/advantages-tab-2-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/advantages/advantages-mob-2-1x.jpg 1x,
              /img/advantages/advantages-mob-2-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="advantages-pic"
            src="/img/advantages/advantages-mob-2-1x.jpg"
            alt="sewing machine stitches seams on bag"
          />
        </picture>
        <div class="advantages-item-wrapper">
          <h3 class="advantages-title-item">Міцність і довговічність</h3>
          <p class="advantages-item-text">
            Наші сумки мають посилені шви для тривалого використання.
          </p>
        </div>
      </li>

      <li class="advantages-list-item full-width">
        <picture>
          <source
            srcset="
              /img/advantages/advantages-desk-3-1x.jpg 1x,
              /img/advantages/advantages-desk-3-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/advantages/advantages-tab-3-1x.jpg 1x,
              /img/advantages/advantages-tab-3-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/advantages/advantages-mob-3-1x.jpg 1x,
              /img/advantages/advantages-mob-3-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="advantages-pic"
            src="/img/advantages/advantages-mob-3-1x.jpg"
            alt="three bags of the brand limited models"
          />
        </picture>
        <div class="advantages-item-wrapper">
          <h3 class="advantages-title-item">Стильний та сучасний дизайн</h3>
          <p class="advantages-item-text">
            Мінімалістичні моделі в обмежених серіях для кожного стилю.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>



