<section class="feedbacks" id="feedbacks">
  <div class="container">
    <h2 class="section-title feedbacks-title">Що говорять наші клієнти</h2>
    <ul class="feedbacks-list">
      <li class="feedbacks-item">
        <ul class="feedbacks-raiting"> 
           <li class="feedbacks-raiting-star">
                <svg class="icon" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>

          </li>
           <li class="feedbacks-raiting-star">
                    <svg class="icon" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
          </li>
           <li class="feedbacks-raiting-star">
                    <svg class="icon" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
           </li>
           <li class="feedbacks-raiting-star">
                    <svg class="icon" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
           </li>
           <li class="feedbacks-raiting-star">
                    <svg class="icon" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
           </li>
        </ul>
        <p class="feedbacks-item-text">Сумка дуже зручна та стильна, використовую щодня!</p>
        <p class="feedbacks-item-user-name">Анна</p>
      </li>
      <li class="feedbacks-item">
         <ul class="feedbacks-raiting"> 
           <li class="feedbacks-raiting-star">
                    <svg class="icon" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
          </li>
           <li class="feedbacks-raiting-star">
                    <svg class="icon" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
          </li>
           <li class="feedbacks-raiting-star">
                    <svg class="icon" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
           </li>
           <li class="feedbacks-raiting-star">
                    <svg class="icon" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
           </li>
           <li class="feedbacks-raiting-star">
                   <svg class="icon" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
           </li>
        </ul>
        <p class="feedbacks-item-text">Відмінна якість матеріалів, приємно здивована.</p>
        <p class="feedbacks-item-user-name">Ігор</p>
      </li>
      <li class="feedbacks-item">
         <ul class="feedbacks-raiting"> 
           <li class="feedbacks-raiting-star">
                    <svg class="icon" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
          </li>
           <li class="feedbacks-raiting-star">
                   <svg class="icon" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
          </li>
           <li class="feedbacks-raiting-star">
                   <svg class="icon" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
           </li>
           <li class="feedbacks-raiting-star">
                    <svg class="icon" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
           </li>
           <li class="feedbacks-raiting-star">
                    <svg class="icon" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
           </li>
        </ul>
        <p class="feedbacks-item-text">Сумка повністю відповідає опису, рекомендую!</p>
        <p class="feedbacks-item-user-name">Олена</p>
      </li>
      <li class="feedbacks-item">
         <ul class="feedbacks-raiting"> 
           <li class="feedbacks-raiting-star">
                    <svg class="icon" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
          </li>
           <li class="feedbacks-raiting-star">
                    <svg class="icon" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
          </li>
           <li class="feedbacks-raiting-star">
                   <svg class="icon" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
           </li>
           <li class="feedbacks-raiting-star">
                    <svg class="icon" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
           </li>
           <li class="feedbacks-raiting-star">
                   <svg class="icon" width="20" height="20">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
           </li>
        </ul>
        <p class="feedbacks-item-text">Швидка доставка та гарне обслуговування.</p>
        <p class="feedbacks-item-user-name">Сергій</p>
      </li>
    </ul>
    </div>
  </div>
</section>
