<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="first-footer-container">
      <nav class="footer-nav">
        <div class="footer-logo-wrapper">
          <a class="footer-logo-link" href="./index.html">
            <img class="footer-logo-img" src="/img/logo.svg" alt="logo" />
          </a>
        </div>
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#about">Про нас</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#advantages">Переваги</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#assortment">Асортимент</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#gallery">Галерея</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#feedbacks">Відгуки</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#support">Контакти</a>
          </li>
        </ul>
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a
              class="footer-social-link instagram"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-social-icons" width="32" height="32">
                <use href="/img/icons.svg#icon-Instagram32"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              class="footer-social-link linkedin"
              href="https://www.linkedin.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-social-icons" width="32" height="32">
                <use href="/img/icons.svg#icon-LinkedIn32"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              class="footer-social-link youtube"
              href="https://www.youtube.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-social-icons" width="32" height="32">
                <use href="/img/icons.svg#icon-Youtube32"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="second-footer-container">
      <address class="footer-contacts">
        <ul class="footer-contacts-list">
          <li class="footer-contacts-item">
            <a class="footer-contacts-link" href="tel:+380999091122"
              >+38 (099) 909 11 22</a
            >
          </li>
          <li class="footer-contacts-item">
            <a class="footer-contacts-link" href="mailto:hello@ecotote.com"
              >hello@ecotote.com</a
            >
          </li>
        </ul>
      </address>
      <p class="footer-paragraph">&copy; 2025 EcoTote. Всі права захищені.</p>
    </div>
  </div>
</footer>
