<footer class="footer">
  <div class="container">
    <h2>Hello footer</h2>

    <a class="" href="../index.html"
      ><svg class="" width="273" height="102">
        <use href="../img/footer/ftlogo.svg"></use>
      </svg>
    </a>
    <ul class="">
      <li class="">Про нас</li>
      <li class="">Переваги</li>
      <li class="">Асортимент</li>
      <li class="">Галерея</li>
      <li class="">Відгуки</li>
      <li class="">Контакти</li>
    </ul>
    <ul>
      <li>
        <a href="">
          <svg class="" width="" height="">
            <use href=""></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="">
          <svg class="" width="" height="">
            <use href=""></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="">
          <svg class="" width="" height="">
            <use href=""></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
