<section class="section gallery">
  <div class="container">
    <h2 class="section-title gallery-title">Галерея зображень</h2>
    <p class="gallery-text">EcoTotes у повсякденному житті</p>
    <ul class="gallery-list">
      <li class="gallery-item">
        <img class="gallery-img" src="../img/gallery/gallery.mob1.jpg" alt="" />
      </li>
      <li class="gallery-item">
        <img class="gallery-img" src="../img/gallery/gallery.mob2.jpg" alt="" />
      </li>
      <li class="gallery-item">
        <img class="gallery-img" src="../img/gallery/gallery.mob3.jpg" alt="" />
      </li>
      <li class="gallery-item">
        <img class="gallery-img" src="../img/gallery/gallery.mob4.jpg" alt="" />
      </li>
    </ul>
  </div>
</section>
