<header class="page-header">
  <div class="container header-container">
    <nav>
      <a class="header-logo" href="./header.html">
        <img src="../img/logo.svg" alt="logo" />
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="" class="nav-link">Про нас</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Переваги</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Асортимент</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Галерея</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Відгуки</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Контакти</a>
        </li>
      </ul>
    </nav>
    <address class="contacts">
      <ul class="contacts-list">
        <li class="contacts-item">
          <a class="contacts-link" href="tel:+380999091122"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li class="contacts-item">
          <a class="contacts-link" href="mailto:hello@ecotote.com"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>
    <button class="burger-btn" type="button" data-menu-open>
      <svg class="burger-icon" width="22" height="16">
        <use href="/img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  <div class="mob-menu" data-menu>
    <a class="mob-menu-logo" href="./header.html">
      <img src="/img/logo.svg" alt="logo" />
    </a>
    <button type="button" class="mob-close" data-menu-close>
      <svg class="mob-close-icon" width="16" height="16">
        <use href="/img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="mob-menu-nav">
      <ul class="mob-menu-nav-list">
        <li class="mob-menu-nav-item">
          <a href="" class="mob-menu-nav-link">Про нас</a>
        </li>
        <li class="mob-menu-nav-item">
          <a href="" class="mob-menu-nav-link">Переваги</a>
        </li>
        <li class="mob-menu-nav-item">
          <a href="" class="mob-menu-nav-link">Асортимент</a>
        </li>
        <li class="mob-menu-nav-item">
          <a href="" class="mob-menu-nav-link">Галерея</a>
        </li>
        <li class="mob-menu-nav-item">
          <a href="" class="mob-menu-nav-link">Відгуки</a>
        </li>
        <li class="mob-menu-nav-item">
          <a href="" class="mob-menu-nav-link">Контакти</a>
        </li>
      </ul>
    </nav>
    <address class="mob-menu-contacts">
      <ul class="mob-menu-contacts-list">
        <li class="mob-menu-contacts-item">
          <a class="mob-menu-contacts-link" href="tel:+380999091122"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li class="mob-menu-contacts-item">
          <a class="mob-menu-contacts-link" href="mailto:hello@ecotote.com"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>
  </div>
</header>
