<section class="hero">
  <div class="container hero-container">
    <div class="hero-wrapper">
      <h1 class="hero-title animate__animated animate__bounceInLeft">
        EcoTote — Стиль, що не шкодить планеті.
      </h1>
      <div>
        <p class="hero-text">
          Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
          відповідальність разом з EcoTote.
        </p>
        <a
          href="#assortment "
          class="hero-btn btn animate__animated animate__bounceInRight"
          >Купити зараз</a
        >
      </div>
    </div>
    <picture>
      <source
        srcset="/img/hero/hero.jpg 1x, /img/hero/hero-2x.jpg 2x"
        media="(min-width: 1440px)"
      />
      <source
        srcset="/img/hero/hero-tab.jpg 1x, /img/hero/hero-tab-2x.jpg 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="/img/hero/hero-mob.jpg 1x, /img/hero/hero-mob-2x.jpg 2x"
        media="(max-width: 767px)"
      />
      <img class="hero-page" src="/img/hero/hero.jpg" alt="bag" width="1312" />
    </picture>
  </div>
</section>
