<section class="hero">
  <div class="container">
      <h1 class="header-title">EcoTote — Стиль, що не шкодить планеті.</h1>
      <p class="header-text">Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та відповідальність разом з
      EcoTote.</p>
      <button class="header-btn" type="button">Купити зараз</button>
        <picture>
          <source srcset="/css/img/hero/hero-mob.jpg 1x, /css/img/hero/hero-mob-2x.jpg 2x" media="(min-width: 320px)">
          <source srcset="/css/img/hero/hero-tab.jpg 1x, /css/img/hero/hero-tab-2x.jpg 2x" media="(min-width: 768px)">
          <source srcset="/css/img/hero/hero.jpg 1x, /css/img/hero/hero-2x.jpg 2x" media="(max-width: 1440px)">
          <img class="hero-page" src="/css/img/hero/hero.jpg" alt="bag" width="1312">
        </picture>
  </div>
</section>
