<section class="">
  <div class="container">
    <h2>Залишились питання? Зв'яжіться з нами!</h2>
    <p>Ми тут, щоб допомогти!</p>
    <form name="user-support-form">
      <div>
        <label for="user-name">Ім'я</label>
        <input type="text" name="user-name" id="user-name" placeholder="Іван" minlength="5" maxlength="64" required>
      </div>
      <div>
        <label for="user-email">Електронна пошта</label>
        <input type="email" name="user-email" id="user-email" placeholder="hello@ecotote.com"
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required>
      </div>
      <div>
        <label for="user-text">Повідомлення</label>
        <textarea name="user-text" id="user-text" placeholder="Введіть своє повідомлення..."></textarea>
      </div>
      <button type="submit">Надіслати</button>
    </form>
    <picture>
      <source media="(min-width: 1440px)"
        srcset="/src/img/support/ecobag-desk-min.jpg 1x, /src/img/support/ecobag-desk@2x-min.jpg 2x">
      <source media="(min-width: 768px)"
        srcset="/src/img/support/ecobag-tab-min.jpg 1x, /src/img/support/ecobag-tab@2x-min.jpg 2x">
      <source media="(min-width: 320px)"
        srcset="/src/img/support/ecobag-mob-min.jpg 1x, /src/img/support/ecobag-mob@2x-min.jpg 2x">
      <img src="/src/img/support/ecobag-desk-min.jpg" alt="A studio space with eco tote bag on a work table.">
    </picture>
  </div>
</section>
