.about {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/about/about-mob-x1.jpg);
}

@media screen and (min-resolution: 2x) {
  .about {
    background-image: url(../img/about/about-mob-x2.jpg);
  }
}

.about-subtitle {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}

.about-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.about-text {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  max-height: 288px;
}

@media screen and (min-width: 768px) {
  .about {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(../img/about/about-tab-1x.jpg);
  }

  @media screen and (min-resolution: 2x) {
    .about {
      background-image: url(../img/about/about-tab-2x.jpg);
    }
  }

  .about-text {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .about {
    padding-top: 112px;
    padding-bottom: 94px;

    background-image: url(../img/about/about-dex-x1.jpg);
  }
  .about-title {
    max-width: 440px;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  @media screen and (min-resolution: 2x) {
    .about {
      background-image: url(../img/about/about-dex-x2.jpg);
    }
  }
}
