.assortment-container {
 padding-top: 32px;
 padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .assortment-container {
    padding-top: 64px;
   padding-bottom: 64px;
  }
}
.assortment-title {
  height: 43px;
  font-size: 36px;
  text-align: center;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .assortment-title{
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .assortment-title {
    height: 58px;
    font-size: 48px;
  }
}
.assortment-list {
  display: flex;
flex-direction: column;
  justify-content: center;
  gap: 32px;
}
@media screen and (min-width:768px){
  .assortment-list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .assortment-list {
    column-gap: 24px;
    row-gap: 64px;
  }
}
.assortment-list-item {
  background-color: var(--color-bg-main);
}
@media screen and (min-width: 768px) {
  .assortment-list-item {
    max-width: calc((100% - 24px) / 2);
  }
    .assortment-list-item:nth-child(5) .assortment-div {
      margin-bottom: 38px;
}
}
@media screen and (min-width: 1440px) {
  .assortment-list-item {
    max-width: calc((100% - 24px*3) / 4);
  }
    .assortment-list-item:nth-child(5) .assortment-div,
    .assortment-list-item:nth-child(8) .assortment-div {
      margin-bottom: 27px;
    }
}
.assortment-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: 16px;
}

.img-assortment {
  display: block;
  border-radius: 32px;
  margin-bottom: 16px;
}
@media screen and (min-width: 1440px) {
  .assortment-list-item:nth-child(5) .img-assortment,
  .assortment-list-item:nth-child(8) .img-assortment {
    margin-bottom: 27px;
  }
}
.assortment-subtitle {
  font-size: 18px;
}

.assortment-text {
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 8px;
}

.assortment-price {
  font-weight: 600;
  font-size: 20px;
}

.button-assortment {
  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-primary-black);
    background-color: var(--color-bg-main);
    border: 1px solid var(--color-primary-black);
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}
.button-assortment:hover {
  background-color: var(--color-primary-black);
  color: var(--color-white);
}

.button-assortment:focus {
  outline: 1px solid var(--color-primary-black);
}

.button-assortment:active {
  background-color: var(--color-primary-black);
  color: var(--color-white);
  transform: translateY(2px);
}
