.assortment-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .assortment-container {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.assortment-title {
  font-family: 'Comfortaa', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .assortment-title {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .assortment-title {
    font-size: 48px;
  }
}

.assortment-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .assortment-list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .assortment-list {
    row-gap: 64px;
  }
}

.assortment-list-item {
  background-color: var(--color-bg-main);
}

@media screen and (min-width: 768px) {
  .assortment-list-item {
    max-width: calc((100% - 24px) / 2);
  }
  .assortment-list-item:nth-child(5) .assortment-div {
    margin-bottom: 38px;
  }
}

@media screen and (min-width: 1440px) {
  .assortment-list-item {
    max-width: calc((100% - 24px * 3) / 4);
  }

  .assortment-list-item:nth-child(5) .assortment-div,
  .assortment-list-item:nth-child(8) .assortment-div {
    margin-bottom: 27px;
  }
}

.assortment-picture {
  margin-bottom: 16px;
}

.assortment-div {
  text-align: center;
  margin-bottom: 16px;
}

.img-assortment {
  display: block;
  border-radius: 32px;
}

@media screen and (min-width: 1440px) {
  .assortment-list-item:nth-child(5) .assortment-picture,
  .assortment-list-item:nth-child(8) .assortment-picture {
    margin-bottom: 27px;
  }
}

.assortment-subtitle {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

.assortment-text {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 8px;
}

.assortment-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
}

.button-assortment {
  width: 100%;
  height: 40px;
  padding: 0;
  line-height: 1.6;
  background-color: var(--color-bg-main);
  border: 1px solid var(--color-primary-black);
  border-radius: 6px;
  cursor: pointer;
}

.button-assortment:hover {
  background-color: var(--color-primary-black);
  color: var(--color-white);
}

.button-assortment:focus {
  outline: 1px solid var(--color-primary-black);
}

.button-assortment:active {
  background-color: var(--color-primary-black);
  color: var(--color-white);
  transform: translateY(2px);
}
