.assortment-conteiner {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .assortment-conteiner {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.assortment-title {
  height: 43px;
  font-size: 36px;
  text-align: center;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .assortment-title {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .assortment-title {
    height: 58px;
    font-size: 48px;
  }
}

.assortment-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .assortment-list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .assortment-list {
    column-gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 768px) {
  .assortment-list-item {
    max-width: calc((100% - 24px) / 2);
  }

  .assortment-list-item:nth-child(5) .assortment-div {
    padding-top: 16px;
    padding-bottom: 38px;
  }
}

@media screen and (min-width: 1440px) {
  .assortment-list-item {
    width: calc((100% - 24px * 3) / 4);
  }

  .assortment-list-item:nth-child(5) .assortment-div,
  .assortment-list-item:nth-child(8) .assortment-div {
    padding-top: 27px;
    padding-bottom: 27px;
  }
}

.assortment-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 16px 0;
  margin: 0 auto;
}

.img-assortment {
  display: block;
  border-radius: 32px;
}

.assortment-subtitle {
  font-size: 18px;
}

.assortment-text {
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 8px;
}

.assortment-price {
  font-weight: 600;
  font-size: 20px;
}

.button-assortment {
  display: block;
  text-align: center;
  width: 100%;
  height: 40px;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  border-radius: 6px;
  border: 1px solid #030a06;
  color: #030a06;
  background-color: #ebf8ed;
  cursor: pointer;
}

.button-assortment:hover {
  background-color: #030a06;
  color: #fff;
}

.button-assortment:focus {
  outline: 1px solid #030a06;
}

.button-assortment:active {
  background-color: #030a06;
  color: #fff;
  transform: translateY(2px);
}
