:root {
  --color-primary-black: #030a06;
  --color-bg-main: #ebf8ed;
  --color-emerald-light: #75d281;
  --color-white: #fff;
  --color-emerald: #3ac04c;
}

body {
  font-family: 'Fira Sans', sans-serif;

  font-size: 16px;
  line-height: 1.6;

  color: var(--color-primary-black);
  background-color: var(--color-bg-main);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.section-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}
