.footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--color-emerald-light);
  text-align: center;
}

.footer-container {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.footer-logo-wrapper {
  width: 281px;
  height: 121px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-logo-link {
  display: inline-block;
  width: 273px;
}

.footer-logo-img {
  width: 100%;
  height: auto;
  display: block;
}

.footer-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 48px;
}

.footer-nav-link {
  display: block;
  color: var(--color-primary-black);
  cursor: pointer;
  transition: color var(--transition);
}

.footer-nav-item:not(:last-child) {
  padding-bottom: 32px;
}

.footer-social-list {
  display: flex;
  gap: 12px;
}

.footer-social-icons {
  width: 32px;
  height: 32px;
  transition: fill 0.3s ease;
}

.footer-social-link.instagram:hover .footer-social-icons,
.footer-social-link.instagram:focus .footer-social-icons {
  fill: #e1306c;
}

.footer-social-link.linkedin:hover .footer-social-icons,
.footer-social-link.linkedin:focus .footer-social-icons {
  fill: #0a66c2;
}

.footer-social-link.youtube:hover .footer-social-icons,
.footer-social-link.youtube:focus .footer-social-icons {
  fill: #ff0000;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-contacts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.footer-contacts-link {
  display: block;
  color: var(--color-primary-black);
  transition: color var(--transition);
}

.footer-contacts {
  padding-top: 24px;
}

.footer-paragraph {
  font-size: 14px;
  padding-bottom: 16px;
  padding-left: 23px;
  padding-right: 23px;
}

.second-footer-container {
  border-top: 1px solid rgba(3, 10, 6, 0.15);
}

.footer-nav-link:hover,
.footer-nav-link:focus,
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  opacity: 0.5;
}

.footer-nav-link:active,
.footer-contacts-link:active {
  color: var(--color-bg-main);
  opacity: 0.6;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .footer {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .footer-logo-wrapper {
    width: 164px;
    height: 70px;
  }

  .footer-logo-link {
    width: 160px;
  }

  .footer-nav {
    gap: 32px;
    margin-bottom: 24px;
  }

  .footer-nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }

  .footer-nav-item:not(:last-child) {
    padding-bottom: 0;
  }

  .footer-social-icons {
    width: 40px;
    height: 40px;
  }

  .footer-contacts-list {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
  }

  .footer-contacts {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .footer-paragraph {
    padding-bottom: 0;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
  }

  .footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .footer-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    padding-bottom: 52px;
    margin-bottom: 0;
  }

  .footer-logo-wrapper {
    margin-right: 176px;
  }

  .footer-social-list {
    margin-right: 0;
    margin-left: auto;
  }

  .footer-social-icons {
    width: 24px;
    height: 24px;
  }
}
