.page-header {
  background-color: #75d281;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  padding: 14px 0;
  display: flex;
  align-items: center;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger-icon {
  display: block;
  fill: #030a06;
}

.mob-menu {
  width: 100%;
  height: 100%;
  background-color: #75d281;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  /* overflow: auto;
  opacity: 0;
  visibility: hidden; */
}

.mob-menu-logo {
  padding-left: 20px;
  padding-top: 14px;
}

.mob-close {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;
}
.close-btn {
  position: absolute;
  background-color: transparent;
}

.mob-close-icon {
  fill: #030a06;
}

.mob-menu-nav-list {
  padding-left: 20px;
  margin-bottom: 96px;
}

.mob-menu-nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-nav-link {
  display: block;
  line-height: 1.6;
  color: #030a06;
}

.mob-menu-contacts-list {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  gap: 16px;
}

.mob-menu-contacts-link {
  display: block;
  color: #030a06;
}
