.page-header {
  background-color: #75d281;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  padding: 14px 0;
  display: flex;
  align-items: center;
}

.nav-list {
  display: none;
}

.contacts {
  display: none;
}

.burger-btn {
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger-icon {
  display: block;
  fill: #030a06;
}

.mob-menu {
  width: 100%;
  height: 100%;
  background-color: #75d281;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mob-menu-logo {
  padding-left: 20px;
  padding-top: 14px;
  margin-bottom: 46px;
}

.mob-close {
  display: block;
  position: absolute;
  right: 20px;
  top: 16px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mob-close-icon {
  fill: #030a06;
}

.mob-menu-nav-list {
  padding-left: 20px;
  margin-bottom: 96px;
  padding-right: 20px;
}

.mob-menu-nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-nav-link {
  display: block;
  line-height: 1.6;
  color: #030a06;
}

.mob-menu-contacts-list {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  gap: 16px;
}

.mob-menu-contacts-link {
  display: block;
  color: #030a06;
}

@media only screen and (min-width: 768px) {
  .mob-menu-logo {
    padding-left: 32px;
    padding-right: 32px;
  }

  .mob-menu-nav-list {
    padding-left: 32px;
    padding-right: 32px;
  }

  .mob-menu-contacts-list {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
  }

  .mob-menu {
    display: none;
  }

  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-logo {
    margin-right: 175px;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .nav-link {
    display: block;
    color: #030a06;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts {
    display: block;
  }

  .contacts-list {
    display: flex;
    gap: 16px;
  }

  .contacts-link {
    display: block;
    color: #030a06;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus {
    opacity: 0.5;
  }

  .nav-link:active,
  .contacts-link:active {
    color: #113916;
    opacity: 0.6;
  }
}
