.hero {
  padding-top: 64px;
  padding-bottom: 64px;
}

.hero-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--color-scheme-2-text);
  max-width: 288px;
  margin-bottom: 20px;
}

.hero-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-scheme-2-text);
  max-width: 288px;
  margin-bottom: 24px;
}

.hero-btn {
  max-width: 288px;
  height: 50px;
  margin-bottom: 24px;
}

.hero-page {
  border-radius: 40px;
  width: 288px;
  height: 285px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 32px;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
  }

  .hero-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .hero-title {
    max-width: 340px;
    margin-right: 24px;
    font-size: 56px;
  }

  .hero-text {
    margin-bottom: 32px;
    max-width: 340px;
    font-size: 18px;
  }

  .hero-btn {
    width: 150px;
    height: 50px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .hero-page {
    border-radius: 40px;
    width: 704px;
    height: 267px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    max-width: 1440px;
  }

  .hero-title {
    max-width: 640px;
    margin-right: 32px;
  }

  .hero-text {
    max-width: 640px;
  }

  .hero-page {
    border-radius: 40px;
    width: 1312px;
    height: 498px;
  }
}
